{{#with item}}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			{{name}}
		</div>
		<div class="col-md-1">
			{{#bs-form formLayout="inline" action="getQty"}}
				{{bs-input type="text" size=5 value=qty }}
			{{/bs-form}}
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" {{action 'removeItem'}}>
				Remove
			</button>
		</div>
	</div>
</div>

{{/with}}
