<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h4>Comic Express </h4>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to "order" tagName="li"}}<a href="/order">Order</a>{{/link-to}}
  		  {{#link-to "editcart" tagName="li"}}<a href="/editcart">Edit Cart</a>{{/link-to}}
        {{#link-to "monthlyorder" tagName="li"}}<a href="/monthlyorder">Edit Monthly Order</a>{{/link-to}}
        {{#link-to "auth" tagName="li"}}<a href="/auth">Auth</a>{{/link-to}}
  
      </ul>
      {{#if authController.isLoggedIn}}
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default" {{action 'logout'}}>Sign Out</button>
        </ul>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
