Monthly Order

<div class="container-fluid">
	<button type="Submit" class="btn btn-default" {{action 'submitReoccuring'}}>Update Monthly Order</button>
</div>

{{#each item in context}}
	{{monthly-order item=item removeItem="removeItem"}}
{{/each}}